body {
    background: black;
}

h4 {
    color: white;
    font-size: xx-large;
}

p {
    color: white;
}

.pfp {
    width: 125px;
    height: 125px;
    border-radius: 100px;
}

.colorbandtop {
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
}

.colorbandtop ul {
    list-style: none;
    display: flex; 
    margin-right: 20%;
}

.colorbandtop ul ul {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}

.colorbandtop ul ul li h3.infosup {
    color: white;
    left: 15%;
}

.bandin {
    position: absolute;
    background-color: #6c757d;
    border-radius: 10px;
    right: 50px;
    top: 12vh;
}



.protopng ul ul {
    display: flex;
    flex-direction: column;
}

.protopng ul ul h3 {
    display: block;
    color: white;
    margin-left: 20%;
    font-size: 200%;
}

.btnsite {
    width: 60%;
    margin-top: 10px;
}

.imgproto {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.protopng ul {
    list-style: none;
    display: flex;
}

.textcenter {
    text-align: center;
}

.contactcard {
    margin-top: 5vh;
}

.card {
    width: 23rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(151, 151, 151);
    border-style: hidden;
}

.contactband {
    background-color: rgb(151, 151, 151);
    border-radius: 20px;
}

.progress {
    height: 3vh;
}

.progress-bar {
    font-size: 150%;
    font-weight: bold;
}

.diplome {
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
}

.diplome ul li {
    color: white;
}

.bandinsml {
    display: none;
}

.imgproto {
    display: block;
    margin-top: 5vh;
    border-radius: 10px;
}
.protopngmed img {
    width: 75%;
}



@media screen and (max-width: 900px) {
    .contactcard {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 20rem;
        margin-top: 5vh;
        margin-bottom: 5vh;

    }

    .bandin {
        display: none;
    }

    .bandinsml {
        display: block;
        background-color: rgb(151, 151, 151);
        border-radius: 10px;
    }

    .protopngmed img {
        width: 100%;
    }

}
    
@media screen and (max-width: 384px) {
    .card {
        width: 100vw;
        margin-left: -50px;
        margin-right: 0px;
        background-color: #6c757d00;
        border-style: hidden;
    }

    .bandin {
        display: none;
    }

    .bandinsml {
        display: block;
        background-color: rgb(151, 151, 151);
        border-radius: 10px;
    }

    .protopngmed img {
        width: 100%;
    }

}
