<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Img + Desc</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>
            Img + desc
        </h1>

        <div>
            <div class="ImgContent">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti praesentium, odio aliquam amet nostrum maiores autem earum eius mollitia veritatis at? Eius voluptates magnam magni doloribus unde aspernatur? Obcaecati, tempore.
                </p>
            </div>
            
        </div>

    </body>
</html>