:root{
  --main-color: rgb(255, 153, 0);
  --main-color-sec: rgb(99, 0, 165);
  --light: rgb(255, 255, 255);
  --grey: rgb(171, 171, 171);

}


.category ul{
  display: flex;
  background-color: var(--main-color-sec);
  padding-bottom: 0.5rem;
  border-radius: 0 0 1rem 1rem;
}

.category ul li{
  margin-left: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
  transition: all ease 200ms;
}

.category ul li:hover{
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--light);
  padding: 1rem;
  padding-top: 0.5rem;
  border-radius: 1rem;
  transition: all ease 200ms;
}
.SearchBar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 5vw;
  width: 90vw;
  height: 2rem;
  border-width: 5px;
  border-radius: 10px;
  background-color: var(--grey);
  transition: all ease 200ms;
  color: var(--light);
}

.SearchBar:hover {
  border-color: var(--main-color);
  transition: all ease 200ms;
}

.NewTitle {
  Color: var(--main-color);
  background-color: var(--main-color-sec);
  padding-bottom: 0.5rem;
  border-radius: 1rem 1rem 0 0; 
}

.NewTitle h2{
  font-size: xx-large;
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: underline;
}


.List {
  display: flex;
  background-color: var(--main-color-sec);
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

}

.List li{
  text-align: center;
  margin-left: 1rem;
  transition: all ease 200ms;
}

.List li a {
  margin-bottom: 2rem;
}

.List li .PosterSize {
  width: 15rem;
  margin-top: 1rem;
}

.List li:hover{
  background-color: var(--light);
  transition: all ease 200ms;
  color: var(--main-color);
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 1rem;
  border-color: var(--main-color-sec);
  border-width: 1rem;
}
